@charset "utf-8";

html{font-size: 62.5%; scroll-behavior: smooth;}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: #333;}
ul, ol{list-style: none;}
table{border-collapse: collapse; width: 100%;}
caption, legend{display: none;}
input, select, textarea, fieldset{border: 0;}
img{vertical-align: top;}

/*글자기울임 방지*/
i, em, address{font-style: normal;}
/*글자 굵기*/
h1, h2, h3, h4, h5, h6, strong, b{font-weight: normal;}
button, input{border: 0; background-color: transparent;}